name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: use node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Upgrade npm (fix optional deps)
        run: npm i -g npm@11.3.0

      - name: install
        run: npm ci --include=optional
      - name: lint
        run: npm run lint
      - name: build
        run: npm run build
